{% extends "base.html" %}

{% block title %}About - Career Bridge{% endblock %}

{% block content %}

<section class="page">

    <div class="page-header">

        <h1>About Career Bridge</h1>

        <p>
            Helping students prepare for the world of work
            before graduation.
        </p>

    </div>


    <div class="contact-box">

        <h2>Our Mission</h2>

        <p>
            Career Bridge is a platform designed to help students
            develop practical skills, improve their career
            preparation and become more confident about their future.
        </p>

        <p>
            We believe students should start building their skills
            before graduation.
        </p>

        <p>
            Our goal is simple:
            <strong>Build skills today for opportunities tomorrow.</strong>
        </p>

    </div>

</section>

{% endblock %}
