{% extends "base.html" %}

{% block title %}Career Bridge - Home{% endblock %}

{% block content %}

<section class="hero">

    <h1>Career Bridge</h1>

    <h3>Build Skills. Build Your Future.</h3>

    <p>
        Career Bridge helps students develop practical skills,
        create professional CVs and prepare for future career
        opportunities.
    </p>

    <div>

        <a href="/services" class="button">
            Explore Services
        </a>

        <a href="/contact" class="button">
            Contact Us
        </a>

    </div>

</section>

{% endblock %}
